* {
    box-sizing: border-box;
}

body{
    background-color: #87ADDE
}

main {
    margin: 0 auto;
    max-width: 1111px;
}

img {
    width: 100%;
    height: auto;
}

.cta-image{
    max-width: 100px;
    height: auto;
    border: 6px solid #ffd700;
    
}

html {
    scroll-behavior: smooth;
}

.the-viewport{
    min-height: 100vh;
}

.landing-cta{
    background-image: url(https://tile.loc.gov/image-services/iiif/service:pnp:highsm:31200:31233/full/pct:25/0/default.jpg);
    background-position: calc(50% - 0px) center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid #deb887;
    padding-top: 40px;
    padding-bottom: 300px;
    max-width: 100%;
    height: auto;
}

.cta-content-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
}

.cta-content-container a{
    text-decoration: none;
    background-color: #deb887;
    color:#000009;
    border: 6px solid #53351b;
    padding: 5px;
    border-radius: 0.6rem;
}

.cta-content{
    text-align: center;
    background-color: #deb887;
    border: 6px solid #53351b;
    border-radius: 0.6rem;
    padding: 8px 12px;
    position: relative;
}

form {
    background-color: #deb887;
    padding: 20px;
    margin-top: 10px;
    border: 6px solid #53351b;
    border-radius: 12px;
    margin-bottom: 40px;
}

.form-element {
    margin-bottom: 16px;
}

.form-element label {
    display: block;
    margin-bottom: 4px;
}

.form-element input,
.form-element textarea {
    display: block;
    width: 100%;
}

.candidate-options {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 30px;
  justify-items: center;
}

.info-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

}

input {
  margin: 0.4rem;
}